.five-day-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.div-outer-border {
    border: 1px solid black;
}

.div-sm-pd {
    padding: 8px;
}