.five-day-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.div-outer-border {
    border: 1px solid black;
}

.div-sm-pd {
    padding: 8px;
}

.thin-pd {
    padding: 1px;
}

.min-width {
    width: min-content;
}

.auto-width {
    width: auto;
}

/* .fit-width {
    width: fit-content;
} */

.current-day-style {
    font-family: 'Courier New', Courier, monospace;
}

.graph-paper-style {
    background-color: #c8f5fa;
}

.background-cool {
    background-color: rgb(75, 63, 248);
}

.background-sunny {
    background-color: rgba(247, 197, 18, 0.973);
}

.background-hot {
    background-color: rgb(237, 82, 39);
}

.background-entry {
    background-color: rgb(173, 201, 224);
}