.min-width,
.five-day-layout,
.graph-paper-style {
    width: 85vw;
}

.five-day-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.div-entry-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
}

.entry-field {
    width: 125%;
}

.days-style {
    border: 1px solid black;
    width: calc(115%/7);
}

.div-sm-pd {
    padding: 8px;
    font-size: 1vm;
}

.div-sm-margin {
    margin: 10px;
}

.thin-pd {
    padding: 1px;
}

.auto-width {
    width: auto;
}

.current-day-style {
    font-family: 'Courier New', Courier, monospace;
}

.graph-paper-style {
    background-color: #c8f5fa;
}

.background-cool {
    background-color: rgb(75, 63, 248);
}

.background-sunny {
    background-color: rgba(247, 197, 18, 0.973);
}

.background-hot {
    background-color: rgb(237, 82, 39);
}

.background-entry {
    background-color: rgb(173, 201, 224);
}